/* Start Global Rules */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --main-transition: 0.3s;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
input:focus {
    outline: none;
}
i {
    font-weight: 900;
}
.fa-regular, .far {
    font-weight: 900 !important;
}
/* End Global Rules */

/* Start Header */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    overflow: hidden;
}
header .logo h2 {
    font-size: 38px;
    text-transform: capitalize;
    font-weight: 800;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.9);
    position: relative;
}
header .logo h2::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    bottom: 3px;
    border-radius: 50%;
}
header .box {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
header .conection {
    display: flex;
    align-items: center;
    gap: 60px;
}
header .flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
header .flex span:first-child {
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
    text-transform: capitalize;

}
header .flex span:last-child {
    color: var(--gray);
}
header .box i {
    color: var(--orange);
    font-weight: 900;
}
header .conection a {
    background-color: var(--orange);
    padding: 10px;
    text-transform: capitalize;
    color: var(--light);
    border: 1px solid var(--orange);
    transition: var(--main-transition);
}
header .conection a:hover {
    background-color: var(--light);
    color: var(--orange);
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 30px auto 0;
    width: 70%;
    background-color: #333;
    position: relative;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: capitalize;
}
nav a {
    color: white;
    transition: 0.3s;
}
nav a:hover {
    color: var(--orange);
}
nav ul a.active {
    color: var(--orange);
}
header .search input {
    padding: 10px;
    position: relative;
    caret-color: var(--orange);
    background-color: var(--dark);
    color: var(--light);
    border: 1px solid var(--secondary);
    border-radius: 24px;
}
header input::placeholder {
    color: var(--light);
}
header .search {
    position: relative;
    width: fit-content;
    height: fit-content;
}
header .search::after {
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 17px;
    transform: translateY(-50%);
    right: 10px;
    color: var(--white);
}


/* Start Media */
@media (max-width: 767px) {
    header .box {
        display: block;
        padding: 0 15px;
        margin-top: 10px;
    }
    header .conection {
        display: block;
        margin-top: 20px;
    }
    header .conection a {
        float: right;
        width: fit-content;
        display: block;
    }
    header .box .flex {
        margin-bottom: 20px;
    }
    nav {
        margin-top: 200px;
        width: 100%;
        
    }
    nav ul {
        display: block;
        /* position: absolute; */
        left: 20px;
        top: 70px;
    }
    .line {
        position: relative !important;
    }
    nav ul li {
        padding-bottom: 20px;
    }
    nav ul li a:hover {
        padding-left: 5px;
        color: var(--orange);
    }
}

@media (min-width: 768px) and (max-width: 930px) {
    nav {
        width: 90%;
    }
}
/* End Media */

/* End Header */


/* Start About */
.about {
    background-image: url(../img/bg_1.jpg.webp);
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
}
.about::after {
    content: "";
    background-color: var(--red);
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
.about .contect {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about .contect h2 {
    font-size: 40px;
    color: var(--light);
    text-transform: capitalize;
    margin-bottom: 15px;
}
.about div span a {
    color: var(--light);
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.3s;
}
.about div span a:hover {
    color: var(--blue);
}
.about div span {
    color: var(--light);
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
}
.about div span::after {
    content: ">";
    margin-left: 5px;
    color: var(--light);
}
.about .change {
        text-align: center;
}

@media (max-width: 767px) {
    .about div span a {
        font-size: 14px;
    }
    .about div span {
        font-size: 14px;
    }
}
/* End About */

/* Start Landing */
.landing {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
.landing .img {
    width: 60%;
    margin: 0 auto;
}
.landing img {
    width: 100%;
}  
.landing .box {
    width: 100%;
    margin-top: 50px;
}
.landing .box h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.7;
}
.landing .box p {
    line-height: 1.7;
    margin-top: 20px;
    color: #888;
}

@media (max-width: 767px) {
    .landing {
        flex-direction: column;
        row-gap: 20px;
        width: auto;
        margin: 0 20px;
    }
    .landing img {
        min-height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .landing img {
        height: 100vh;
    }
    .landing {
        width: 100%;
        margin: 0 20px;
    }
}
/* End Landing */


/* Start About-1 */
.about-1 {
    background-image: url(../img/bg_3.jpg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.about-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #cc6f3b;
    opacity: 0.8;
    z-index: 0;
}
    
.about-1 img {
    width: 450px;
}
.about-1 .container {
    display: flex;
    column-gap: 70px;
    min-height: 75vh;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: var(--light);
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.about-1 .about-university h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}
.about-1 .about-university .p-1 {
    margin-bottom: 15px;
}
.about-1 .about-university p {
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}
.about-1 .grid {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    color: var(--light);
}
.about-1 .grid span:first-child {
    font-size: 40px;
    margin-bottom: 10px;
}
.about-1 .grid span {
    display: block;
    text-align: center;
}

@media (max-width: 767px) {
    .about-1 .grid {
        width: 100%;
        margin-bottom: 50px;
    }
    .about-1 .container {
        flex-direction: column;
        margin: 30px 20px 20px;
        width: auto;
        height: 100%;
    }
    .about-1 img {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 320px) {
    .about-1 {
        min-width: 50vh;
    }
    html {
        min-width: 50vh;
    }
}

@media (max-width: 991px) {
    .about-1 img {
        margin-bottom: 20px;
    }
    .about-1 .container {
        flex-direction: column;
        margin-top: 50px;
    }
}
/* End About-1 */


/* Start Student */
.student {
    margin-top: 150px;
}
.student h2 {
    width: fit-content;
    font-size: 40px;
    margin: 0 auto 20px;
    line-height: 1.5;
    color: var(--dark);
}
.student .p-1 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    color: var(--gray);
}

.student img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.student .flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 50px 30px;
    margin: 100px 20px 0;
    cursor: grab;
}
.student .box .img {
    display: flex;
    gap: 20px;
}
.student .info p:first-child {
    width: 100%;
    line-height: 1.5;
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 20px;
}
.student .name {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
}
.student .grate {
    color: var(--orange);
    text-transform: capitalize;
    font-weight: 700;
}
@media (max-width: 767px) {
    .student h2 {
        margin: 0 10px 20px;
    }
    .student .p-1 {
        width: initial;
        text-align: initial;
        margin: 0 10px;
    }
}

@media (max-width: 991px) {
    .student .flex {
        grid-template-columns: minmax(300px , 1fr);
    }
}
/* End Student */


/* Start Final */
.final {
    margin: 100px 0 0;
}
.final img {
    width: 100%;
    height: 100%;
}
.final .img {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
}
.final .img div {
    position: relative;
    cursor: zoom-in;
}
.final .img div span {
    position: absolute;
    z-index: 1;
    font-size: 20px;
    padding: 10px;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    background-color: var(--orange);
    color: white;
    transition: 0.5s;
}
.final .img div:hover span {
    bottom: 50%;
    transform: translate(-50%, 50%);
    opacity: 1;
}
@media (max-width: 767px) {
    .final .img {
            grid-template-columns: minmax(200px, 1fr);
    }
}
/* End Final */


/* Start Footer */
footer img {
    display: block;
    width: 80px;
    height: 80px;
}

footer {
    background-color: #232323;
    min-height: 100vh;
    color: var(--light);
    overflow: hidden;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 70px;
    margin: 0 100px;
}
footer .container .box-1,
footer .container .box-2,
footer .container .box-3,
footer .container .box-4 {
    margin-top: 100px;
}
footer .container .box-1 h2 {
    font-size: 26px;
    margin-bottom: 50px;
}
footer .container .box-1 ul li {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 14px;
    cursor: pointer;
}
footer .container .box-1 ul i {
    margin-right: 20px;
}
footer .box-1 .f-2 {
    display: flex;
    align-items: center;
    line-height: 1.5;
}
footer .flex {
    display: flex;
    gap: 16px;
}
footer .flex-1 {
    margin-bottom: 50px;
}
footer .flex-2 {
    margin-bottom: 100px;
}
footer .flex img {
    margin-right: 10px;
}
footer .box-2 h2 {
    margin-bottom: 50px;
    font-size: 26px;
}
footer .box-2 .handing a {
    line-height: 1.5;
    color: var(--light);
    margin-bottom: 15px;
    display: block;
    transition: 0.3s;
}
footer .box-2 .handing a:hover {
    color: var(--primary);
}
footer .month {
    display: block;
    font-size: 10px;
    margin-bottom: 10px;
    color: #888;
}
footer .one {
    font-size: 10px;
    color: #888;
}
footer .one span:first-child {
    margin-right: 5px;
}
footer .box-3 h2{
    font-size: 20px;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-weight: 600;
}
footer .box-3 ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
}
footer .box-3 ul li::before {
    content: "\f061";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 10px;
    cursor: pointer;
}
footer .box-3 ul li a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}
footer .box-3 ul li a:hover {
    color: var(--primary);
    margin-left: 5px;
}
footer .box-4 .sub {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 50px;
}
footer .box-4 input:first-child {
    display: block;
    border: none;
    background-color: #393939;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    color: var(--light);
}
footer .box-4 input:first-child::placeholder {
    color: var(--secondary);
}
footer .box-4 input:last-child {
    display: block;
    width: 227.7px;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    color: var(--light);
    background-color: var(--blue);
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
footer .box-4 input:last-child:hover {
    background-color: var(--orange);
}
footer .box-4 .social {
    margin-top: 50px;
}
footer .box-4 .social h2 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
footer .box-4 .social div a{
    margin-right: 30px;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
}
footer .box-4 .social div a:hover {
    color: var(--orange);
}
footer .end {
    text-align: center;
    color: var(--orange);
}
footer .end a {
    color: var(--orange);
    transition: 0.3s;
}
footer .end a:hover {
    color: var(--blue);
}

@media (max-width: 767px) {
    footer .container {
        grid-template-columns: minmax(300px, 1fr);
    }
    footer .container .box-1, footer .container .box-2, footer .container .box-3, footer .container .box-4 {
        margin: 0;
    }
    footer .container .box-1 {
        margin-top: 100px;
    }
    footer .container  {
        margin: 0 20px;
    }
    footer .flex-2 {
        margin-bottom: 0;
    }
    footer .end {
        margin-top: 50px;
        line-height: 1.5;
        margin: 50px 20px 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    footer .container {
        grid-template-columns: minmax(300px, 1fr);
    }
    footer .flex-2 {
        margin-bottom: 0;
    }
    footer .end {
        margin-top: 70px;
        margin-bottom: 40px;
    }
}

/* End Footer */